* {
    font-family: 'Gugi', cursive;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(to bottom left, purple, dodgerblue);
    text-align: center;
}

#keycodeTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 300px;
}

.boxWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    margin-bottom: 70px;
}

.eventBox {
    background: crimson;
    border: solid 25px crimson;
    border-style: groove;
    border-radius: 25px;
    width: 20%;
    margin: 10px;
    text-align: center;
    vertical-align: text-top;
    box-shadow: 5px 10px;
}

.eventBox:hover {
    opacity: 0.8;
}

p {
    text-align: center;
    font-size: 50px;
}

input {
    display: block;
    max-width: 58em;
    padding: 1em;
    margin: auto;
    text-align: center;
}

.showKeycode {
    display: none;
}
